.about-colorize
{
  & > h1{
    cursor:default;
  }
  &:hover{
    color: $secondary-color;
    @include easeOut;
  }
}

.headings{
  cursor:default;

}

p{
  color:white !important;
  cursor:default;
}