@import'config';
@import 'menu';
@import 'mobile';
@import 'about';
@import 'projects';
*{
  box-sizing: border-box;
}

body{
  @include background;
  background: $primary-color;
  height:100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color:set-text-color($primary-color);
  line-height:1.5;

}
h1,h2,h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
    text-shadow: 2px 2px #444;
  }
}

.sm-heading {

  position: absolute;

  overflow:hidden;
  display: inline;
  height: 2.8rem;

  margin-left: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  line-height: 2.5rem;


  &__container {
    font-weight: 600;
    overflow: hidden;
    padding: 0 1.5rem;
    font-size: 2rem;

    &:before {
      content: '{';
      left: 0;
      color: set-text-color($primary-color);

    }

    &:after {
      content: '}';
      position: absolute;
      right: 0;
      color: $secondary-color;

    }

    &:after, &:before {
      position: absolute;
      top: 0;
      font-weight: 700;

      line-height: 2.5rem;
    }

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      padding-left: 5rem;
      text-align: left;
      list-style: none;
      color:lighten($secondary-color, 0.5);


      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &__item {
        line-height: 2.5rem;
        margin: 0;
      }
    }
  }
}

@keyframes change{
  0%, 12%, 100% {transform:translate3d(0,0,0);}
  16%, 28% {transform:translate3d(0,-34%,0);}
  32%, 44% {transform:translate3d(0,-67%,0);}
  48%, 61% {transform:translate3d(0,0,0);}
  65%, 78% {transform:translate3d(0,-34%,0);}
  82%, 96% {transform:translate3d(0,-67%,0);}


}

a{
  color:#fff;
  text-decoration: none;
}

header{
  position:fixed;
  z-index:2;
  width:100%;
}
.text-secondary{
  color: $secondary-color;
}
main {
  padding:4rem;
  height:100%;

  .icons{
    margin-top:4.25rem;
    a{
      padding:0.8rem;

      &:hover{
        color: $secondary-color;
        @include easeOut;
      }
    }
  }

  &#home{
    overflow:hidden;
    h1{
      margin-top:25vh;
    }
  }
}
